  <h2>Contact Us</h2>
  <%= image_tag("Denbies-Hillside.jpg", :alt => "Denbies Hillside near Dorking", :title => "Denbies Hillside. Copyright: Jeremy Early", :class => "img-rounded main_image") %>
  <p>
    We are always looking for additional support. A contact point is currently being arranged (March 2013)
    and will be added as soon as possible. Do get in touch if you would either like to offer help or
    if you would like some advice on nature conservation in Mole Valley.
  </p>
  <p>
    N.B. This page is currently being revised and an updated version will be provided shortly.
  </p>