<h2>Mole Valley Moths</h2>
<section>
  <p>
    There are many more species of moth than butterfly in Mole Valley. Although they are usually less conspicuous than butterflies, many are beautifully patterned and coloured, and some fly during the day. Interest in moths has grown steadily in recent years, with increasing numbers of people learning how to identify them and recording them for a National Moth Recording Scheme that is producing distribution maps of all the larger (macro) moths. Many people now run moth traps in their own gardens or at organised moth events at nature reserves. Moth traps attract the insects to a bright light at night, and retain them without harm until they are examined and released the next day.
  </p>
  <p>
    Some moths are restricted to particular habitats such as broadleaved woodland or chalk grassland, but many occur in gardens, even in towns and suburbs. The few species described here are examples of common but striking species that can be seen in Mole Valley, and rarities that are being monitored and have research and conservation effort directed at them here.
  </p>
  <p>
    <em>Larger Moths of Surrey</em>, by Graham A Collins, published by Surrey Wildlife Trust, gives details and distribution maps of all Surrey species, and the <em>Field Guide to the Moths of Great Britain and Ireland</em> by Paul Waring and Martin Townsend is another excellent source of information, with wonderful illustrations by Richard Lewington. Visit the
    <%= link_to("UK Moths website", "http://www.ukmoths.co.uk", :target => "_blank") %>
     for a superb gallery of photographs to help with identification, and 
     <%= link_to("Butterfly Conservation", "http://www.butterfly-conservation.org", :target => "_blank") %> to find out more about moths.
  </p>
</section>
<section class="clearfix">
  <p>
    <strong>Burnet Moths:</strong> 
    <%= image_tag("moths/Five-spot Burnet.jpg", :alt => "Five-spot Burnet Moth", :title => "Five-spot Burnet. Copyright: Jeremy Early", :class => "img-rounded main_image") %>
    Burnet moths fly by day and are often seen on grassland sites in Mole Valley. The uncommon Five-spot Burnet is confined to chalk grassland where it flies in May and June at sites such as Box Hill and Denbies Hillside. The Narrow-bordered Five-spot Burnet flies in July on grassland such as roadside verges. The Six-spot Burnet flies in July and August and is the most common of the three Burnets in Mole Valley, being especially common on chalk grassland, where its pupae are conspicuous near the top of tall grass stems and the yellowy-green and black larvae can also be seen where their foodplant, Bird’s-foot Trefoil, grows.
  </p>
</section>
<section class="clearfix">
  <p>
    <strong>Mother Shipton:</strong>
    This moth gets its name from the witch said to have once lived in Yorkshire. The face of the old crone can be seen in profile looking from the outer edges of each forewing towards the middle, with hooked nose, pointed chin and eyespot. It flies by day in May and June, and visits flowers for nectar. Larvae feed on clovers and related plants, and grasses.
  </p>  
</section>
<section class="clearfix">
  <p>
    <strong>Elephant Hawkmoth:</strong>
    <%= image_tag("moths/Elephant-Hawk-moth.jpg", :alt => "Elephant Hawkmoth", :title => "Elephant Hawkmoth. Copyright: Jeremy Early", :class => "img-rounded main_image") %>This large and colourful moth flies from May to August and can be found in many habitats including gardens.  It flies from dusk onwards, and feeds on nectar, Honeysuckle being a favourite food source. It lays its eggs on Rosebay Willowherb and other willowherbs, and also on fuchsias, and the large brown larva with conspicuous eyespots is sometimes seen in late summer, either on the foodplant or crawling over the ground looking for a suitable spot to pupate.
  </p>
</section>
<section class="clearfix">
  <p>
    <strong>Straw Belle:</strong>
    This is one of the rarities, being found in just two sites in Mole Valley and a few more in Kent, but now nowhere else in Britain. It flies from late July until early September on chalk grassland, where it is easily disturbed during the day, flying a few metres before landing again in the grassy vegetation. Numbers are monitored each year and research is being carried out to find which plants the larvae feed on and the habitat conditions it needs, so that grazing and other grassland management can be planned to suit its requirements and prevent further decline.
  </p>
</section>
<section class="clearfix">
  <p>
    <strong>Heart Moth:</strong>
    This rare moth is hard to see as it is extremely rare, flies for only a short period in June and July, and occurs at the tops of large, old Pedunculate Oak trees. A photograph of this attractive moth, with a distinctive heart-shaped mark on its forewing, can be seen on the front cover of ‘Larger Moths of Surrey. This is a Surrey speciality which has been recorded at several places in Mole Valley where plenty of old oaks grow in open situations. 
  </p>
</section>

